{{define "title"}}Time Craft{{end}}
{{define "metaDescription"}}Time Craft, your way of creating smart timetables{{end}}
{{define "content"}}
    {{template "topdoc"}}
        Hello World
    {{template "footer"}}
    {{template "botdoc"}}
{{end}}